a:link    {color:#004C70; background-color:transparent; text-decoration:none}
a:visited {color:grey; background-color:transparent; text-decoration:none}
a:hover   {color:#424242; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}




body {
    width: 960px;
    margin: auto;
    background-color: #F8F8F2;
    text-align: center;

}




h1 {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size:40px;
    font-family: Papyrus, Georgia, serif;
    color: #004C70;
    margin-top: 30px;
    padding: 12px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #004C70;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #004C70;
    width: 960px;
    margin-left: auto;
    margin-right: auto; 
    
} 
 

    
.logistics {
    text-align: center;
    font-family: Papyrus, Georgia, serif;
    color: #004C70;
    font-size: 23px;
    padding:10px;
    background-color: #F8F8F2;
    position: relative;
    margin-top: 5px;
    line-height: 130%;
    
}




.contents{
    position: relative;
    background-color: transparent;
    font-size: 20px;
    font-family: Fantasy, verdana, Arial, serif;
    margin-top: -10px;
    width: 300px;
    text-align: left;
    line-height: 170%;
    margin-left: -170px;
    margin-right: 570px; 
    border-radius: 20px;
    font-style: bold; 
   
   
}
ul{
    list-style-type: none;
}

h2 {
    position:relative;
    margin-left:10px;
    color: grey;
    font-family: verdana;
   
}

table {
    position: relative;
    margin-left: 150px;
    margin-top: -350px;
    width: 900px;
    font-family: Fantasy, verdana, Arial, serif;
    font-size: 20px;
    
}

.footer {
    position: relative;
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 960px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #004C70;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #004C70;
}

.marie {
    color:#004C70;
    font-size: 25px;
    font-family: Papyrus, Georgia, serif;
}

